.moreBlogsButton{
    margin: 40px auto;
}
.moreBlogsButton a{
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
}
.moreBlogsButton a:hover{
    background-color: black;
    color:white;
    text-decoration: none;
}
.divider{
    box-shadow: 0px 3px 8px 3px;
    border: 1px solid black;
    background-color: black;
}
.registrationLink{
    
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
    float: left;
    background-color: blue;
}
.registrationLink:hover{
    background-color: rgb(40, 78, 201);
    text-decoration: none;
    color: white;
}
.postCategory{
    width: 100%;
}
.NewsReadMore{
    border: 1px solid #000;
    padding: 10px 15px;
    color: black;
}
.NewsReadMore:hover{
    background-color: #343a40;
    color:white;
    text-decoration: none;
}
.rowMarginSpace{
    margin: 20px 0;
}
.noSpacing{
    padding: 0;
    margin: 20px 0 0 0;
}
.sidebar{
    border: 1px solid #000000;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 2px 4px 4px;
}